.head{
    display: flex;
    justify-content: center;
    gap: 775px;
    align-items: center;
    border: 1px solid hsla(0, 5%, 87%, 1);
    background-color: white;
    padding-top: 45px;
    padding-bottom: 48px;
}
.headcha{
    display: flex;
    align-items: center;
    gap: 30px;
}